/* ==========================================   G E N E R A L   ========================================== */

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body::-webkit-scrollbar {
    width: 8px;
}
  
body::-webkit-scrollbar-track {
    background: var(--primary-bg-color);
}
  
body::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
}

:root {
    --primary-color: #000;
    --primary-bg-color: #888;
    --primary-border-color: #ccc;
    --primary-font-color: #fff;
    --secondary-color: #fff;
    --secondary-bg-color: #ccc;
    --secondary-border-color: #888;
    --secondary-font-color: #000;
}

main {
    max-width: 1000px;
    margin: auto;
}

fieldset > legend {
    margin-left: 10%;
    font-weight: bold;
    font-size: 18px;
}

textarea {
    width: calc(100% - 20px);
    max-width: calc(100% - 20px);
    min-width: calc(100% - 20px);
    height: 50px;
    min-height: 30px;
    margin: 0px 10px;
    padding: 5px;
    word-wrap: break-word;
    border-width: 2px;
    border-radius: 5px;
    background-color: #fff;
    border-color: var(--secondary-border-color);
    color: var(--secondary-font-color);
    font-size: 15px;
}

textarea:last-child {
    margin-bottom: 10px;
}

.secConfColor {
    width: 90%;
    padding: 10px;
    margin-top: 10px;
    background-color: var(--secondary-bg-color);
    border-color: var(--secondary-border-color);
}

.center {
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

.brdSolid {
    border-width: 2px;
    border-style: solid;
}

.brdDotted {
    border-width: 2px;
    border-style: dotted;
}

.rad10 {
    border-radius: 10px;
}

.rad5 {
    border-radius: 5px;
}

.phaMargin {    
    margin-top: 10px;
    margin-left: 20px;
}

/* ===========================================   H E A D E R   =========================================== */

#boxHeader {
    height: auto;
}

/* ------------------------------------ NAVBAR ------------------------------------ */

#menu {
    display: none;
}

label[for="menu"] {
    width: 50px;
    height: 50px;
    padding: 5px;
    background-color: var(--primary-color);
    color: var(--primary-font-color);
    text-align: center;
    font-size: 30px;
    cursor: pointer;
    display: none;
}

.navbar {
    width: 100%;
    height: 51px;
    background-color: var(--primary-color);
}

nav ul {
    position: relative;
    list-style: none;
}

nav ul li {
    width: 150px;
    float: left;
}

.navbar span {
    padding: 15px;
    display: block;
    text-decoration: none;
    text-align: center;
    background-color: var(--primary-color);
    color: var(--primary-font-color);
    font-weight: bold;
    font-size: 18px;
}

.navbar span:hover {
    color: var(--primary-border-color);
    cursor: pointer;
}

/* --------------------------------- HEADER IMAGE -------------------------------- */

#boxHeaderImage {
    width: 100%;
    height: 200px;
    position: relative;
    background-color: var(--primary-color);
}

#headerImage {
    width: 100%;
    height: 200px;
}

#uploadHeaderImage {
    width: 40px;
    height: 40px;
    position: absolute;
    left: 90%;
    top: 200px;
    transform: translate(-50%, -50%);
    background-color: #0000005f;
    border-color: var(--primary-border-color);
    border-radius: 100%;
}

#uploadHeaderImage:hover {
    cursor: pointer;
    background-color: #000;
}

/* --------------------------------- PROFILE IMAGE -------------------------------- */

#boxProfileImage {
    width: 225px;
    height: 225px;
    margin-top: -60px;
}

#profileImage {
    width: 225px;
    height: 225px;
    border-radius: 100%;
    border-color: var(--primary-border-color);
}

#uploadProfileImage {
    width: 40px;
    height: 40px;
    position: absolute;
    left: 85%;
    top: 85%;
    transform: translate(-50%, -50%);
    background-color: #0000005f;
    border-color: var(--primary-border-color);
    border-radius: 100%;
}

#uploadProfileImage:hover {
    cursor: pointer;
    background-color: #000;
}

/* --------------------------------- PERSONAL DATA ------------------------------- */

#personalDataHeader {
    background-color: #dfdfdf;
    border-color: #ccc;
    color: #000;
    margin-top: 10px;
}

.personalData {
    width: max-content;
    min-width: 300px;
    white-space: nowrap;
    padding: 10px;
}

.listPersonalData > li {
    list-style-type: none;
    font-size: 16px;
}

/* --------------------------------- PROFILE NAME -------------------------------- */

#profileName {
    width: 90%;
    border-bottom: 2px solid var(--primary-color);
    color: var(--secondary-font-color);
    font-size: 52px;
    text-align: center;
    white-space: nowrap;
    margin-top: 10px;
}

/* =============================================   M A I N   ============================================= */

.alertRed {
    background-color: #ffcece;
    border-color: #f00000;
    color: #f00000;
}

.warningOrange {
    background-color: #ffe4b1;
    border-color: #f09c00;
    color: #f09c00;
}

.submitGreen {
    background-color: #baffb1;
    border-color: #13a300;
    color: #13a300;
}

.fdsLabel {
    margin-left: 5%;
    margin-right: 2%;
    float: left;
    line-height: 50px;
    font-size: 16px;
    font-weight: bold;
    text-align: end;
}

.boxInput {
    width: 73%;
    float: left;
    line-height: 50px;
}

.boxInput > input {
    width: 150px;
    height: 30px;
    background-color: #fff;
    border-color: #00000066;
    color: #000;
    border-radius: 5px;
    font-size: 15px;
}

.btnSubmit {
    width: 80%;
    max-width: 300px;
    height: 40px;
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    color: var(--primary-font-color);
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 5px;
    cursor: pointer;
}

.btnSubmit:hover {
    background-color: var(--primary-bg-color);
    border-color: var(--primary-bg-color);
    color: var(--primary-font-color);
}

/* ---------------------------------- SUGGESTION ---------------------------------- */

#fdsSuggestion {
    width: 60%;
    min-width: 230px;
    margin-top: 10px;
    background-color: var(--secondary-bg-color);
    border-color: var(--secondary-border-color);
}

/* --------------------------------- CONFIGURATION -------------------------------- */

.fdsConfig {
    width: 30%;
    min-width: 230px;
    margin: 25px 0px 25px 3%;
    background-color: var(--secondary-bg-color);
    border-color: var(--secondary-border-color);
    display: inline;
    vertical-align: top;
}

/* ===========================================   F O O T E R   =========================================== */

footer {
    width: 100%;
    height: auto;
    background-color: var(--primary-color);
    margin-top: 10px;
    position: absolute;
}

#personalDataFooter {
    background-color: #222;
    border-color: #6e6e6e;
    color: #fff;
    margin: 30px 0px;
}

#copyright {
    width: 100%;
    background-color: #000;
    border-top: 1px solid var(--secondary-color);
    color: #fff;
    text-align: center;
    padding: 10px;
}

#copyright h4 {
    font-weight: normal;
}

#logo {
    width: 50px;
}

#copyright .green {
    margin-top: 10px;
}

.green {
    background-color: #ffffff00;
    border-color: #ffffff00;
    color: #37c100;
    cursor: pointer;
    font-size: 16px;
}

.green:hover {
    color: #185300;
}

#PPandTU {
    position: fixed;
    bottom: 0px;
    background-color: var(--secondary-bg-color);
    border-color: var(--secondary-border-color);
    color: var(--secondary-font-color);
    padding: 15px;
}

#PPandTU p {
    width: 80%;
    float: left;
}

#understood {
    width: 15%;
    min-width: 150px;
    height: 40px;
    float: right;
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    color: var(--primary-font-color);
}

#understood:hover {
    background-color: var(--primary-bg-color);
    border-color: var(--primary-bg-color);
}

.fullScreen {
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: #000000cc;
    z-index: 1;
}

.secPPandTU {
    width: 80%;
    height: 80%;
    padding: 10px;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-color: var(--primary-border-color);
    color: #777;
    overflow: auto;
}

.secPPandTU::-webkit-scrollbar {
    width: 8px;
}
  
.secPPandTU::-webkit-scrollbar-track {
    background: var(--primary-bg-color);
    border-radius: 5px;
}
  
.secPPandTU::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    border-radius: 5px;
}

#btnOk {
    margin-top: 50px;
}

/* ========================   R E S O L U T I O N   L E S S   T H A N   8 0 0 px  ======================== */

@media(max-width: 800px) {
    
    main {
        max-width: 600px;
        margin: auto;
    }

/* ------------------------------------ NAVBAR ------------------------------------ */

    #boxMenu {
        background-color: var(--primary-color);
    }

    label[for="menu"] {
        display: block;
    }
    
    .navbar {
        height: 0px;
        margin-left: -100%;
        transition: all .4s;
    }

    .navbarLittle {
        margin-left: 0px;
    }

    nav ul li {
        width: 100%;
        float: none;
    }

    .backHeader {
        margin-top: 0px;
        transition: all .4s;
    }

    .pushHeader {
        position: relative;
        margin-top: 200px;
        transition: all .4s;
    }

/* --------------------------------- SUGGESTION ----------------------------------- */

    #fdsSuggestion {
        width: 90%;
        min-width: 230px;
        margin: 25px 0px;
    }

/* -------------------------------- CONFIGURATION --------------------------------- */
    
    .fdsConfig {
        width: 90%;
        min-width: 230px;
        display: block;
        margin: 25px auto;
    }

/* ------------------------------------ FOOTER ------------------------------------ */
    
    footer > #boxPersonalData {
        position: relative;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    #PPandTU {
        text-align: center;
    }
    
    #PPandTU p {
        width: 100%;
    }

    #understood {
        width: 50%;
        height: 30px;
        margin-top: 15px;
        float: none;
    }
}