/* ==========================================   G E N E R A L   ========================================== */

* {
    box-sizing: border-box;
    margin: 0px;
}

/* ===========================================   H E A D E R   =========================================== */

#header {
    height: 450px;
    background-color: gray;
}

/* ------------------------------------ NAVBAR ------------------------------------ */

#navigation {
    height: 50px;
    background-color: black;
}

nav > ul > li {
    display: block;
    float: left;
    margin-left: 20px;
    line-height: 49px;
}

nav > ul > li > span {
    color: white;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
}

nav > ul > li > span:hover {
    color: rgb(180, 180, 180);
    cursor: pointer;
}

#menuRight {
    float: right;
    margin-right: 50px;
}

#menuLeft {
    float: left;
}

/* --------------------------------- IMAGE PROFILE -------------------------------- */

#boxImageProfile {
    width: 225px;
    height: 225px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#imageProfile {
    width: 225px;
    height: 225px;
    border-radius: 100%;
}

#imageUploadProfile {
    width: 40px;
    height: 40px;
    position: absolute;
    left: 85%;
    top: 85%;
    transform: translate(-50%, -50%);
    border-radius: 100%;
}

#imageUploadProfile:hover {
    cursor: pointer;
}